.app-header {
  border-bottom: 2px solid rgba(18, 247, 186, 0.33);
}

body {
  background: linear-gradient(to bottom right, #6600cc 5%, #cc00ff 81%) no-repeat;
  min-height: 100vh;
  position: relative;
}

div.result {
  background-color: transparent;
}

.container {
  padding: 25px 0;
}

.container.lead p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #cc00ff;
  display: inline-block;
  padding: 10px 15px 15px 15px;
  border: 4px solid #44ffdd;
  border-radius: 5px;
  background-color: white;
}

.container.lead p span {
  color: #cc00ff;
}

h1 {
  font-size: 48px; 
  text-align: center;
} 

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-check-input:checked {
  background-color: #44ffdd;
  border-color: #0dfde9;
}

.row.wrap-reverse {
  flex-wrap: wrap-reverse;
}

hr {
  background-color: rgb(109, 247, 210);
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
  width: 80%;
  margin: 25px auto;
}

.img-container {
  display: flex;  
}

.img-container img{
  display: block;
  max-width: 200px;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-enviar,
.btn-new-quiz {
  background: #44ffdd;
  color: #272727;
  font-weight: bold;
  margin-top: 40px;
}

.btn-enviar:hover,
.btn-new-quiz:hover {
  opacity: .8;
} 
